<div class="border border-left-0 border-right-0 border-bottom-0 py-3 row">
  <div class="col-3 px-2">
    <%= image_tag post.user.avatar.url, class: "border rounded-circle w-100" %>
  </div>
  <div class="col-9 px-3 py-3 ">
    <p class="my-1">
      <h4 class="text-primary"><%= "#{post.user.name}" %></h4>
      <span class="text-secondary float-right"><%= time_ago_in_words(post.created_at) %></span>
    </p>
    <%= post.body %>
  </div>

</div>
<% if post.movie_id.present? %>
  <!-- movieヘルパーを使用 -->
  <%= movie(movie_id: post.movie_url) %>
<% end %>
