<div class="row">
  <!-- プロフィール -->
  <div class="col-md-3 d-none d-sm-inline">
    <%= render partial: "profile", locals: { user: @user } %>
  </div>

  <div class="col-md-9">
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    <%= form_for @post do |f| %>
      <div class="input-group pb-2 mx-0">
        <%= f.text_field :movie_id, class: "form-control", placeholder: "YoutubeのURLを入力しよう。" %>
      </div>
      <div class="input-group pb-4 mx-0">
        <%= f.text_field :body, class: "form-control mr-4" ,placeholder: "動画の感想をシェアしよう。"%>
        <span class="input-group-btn">
          <%= f.submit "投稿", class: "btn btn-primary"%>
        </span>
      </div>
    <% end %>
      <div class="row">
        <div class="col-lg-7">
          <h3>投稿一覧</h3>
          <%= render partial: "post", collection: @posts %>
          <%= paginate @posts %>
          <!-- <%= link_to_next_page @posts, 'more', :remote => true, id: 'more_link' %> -->
        </div>
        <div class="d-none d-md-block col-lg-4 offset-lg-1">
          <h3>ユーザ一覧</h3>
          <%= render partial: "users", collection: @users %>
        </div>
      </div>
  </div>
</div>
