<div class="row">
  <div class="col-sm-4 d-md-block">
    <div class="card p-2">
      <%= image_tag current_user.avatar.url, class: "card-img-top rouded-circle" %>
      <div class="card-body">
        <h4 class="card-title"><%= "#{@user.name}" %></h4>
        <p class="card-text">
          <span class="text-secondary">ここにユーザ情報が入ります。</span>
        </p>
        <%= movie(movie_id: @user.movie_id.match(/watch\?v=/).post_match) %>
      </div>
    </div>
  </div>

  <div class="col-sm-4">
    <%= render partial: "post", collection: @posts %>
  </div>

  <div class="col-sm-4">
    <%= render partial: "users", collection: @users %>
  </div>

</div>

<%= paginate @users %>
