<div class="mx-auto">
<div class="card p-2">
  <%= image_tag @post.user.avatar.url, class: "card-img-top rouded-circle" %>
  <div class="card-body">
    <h4 class="card-title"><%= "#{@user.name}" %></h4>
    <p class="card-text">
      <span class="text-secondary"><%= "#{@user.content}"%></span>
    </p>
  </div>
</div>

<% @posts.each do |post| %>
  <% if @user.id == post.user_id %>
    <div class="py-2 border-top">
      <%= movie(movie_id: post.movie_url) %>
      <p><%= link_to "削除する", "/home/#{post.user.id}", method: "delete", class: "float-right" if @user.id == current_user.id %></p>
      <%= "#{post.body}" %>
    </div>
  <% @com = Comment.find_by(post_id: post.id) %>
    <% if @com.present? %>
      <div style="max-height:150px;overflow:auto;" class="border border-success mb-2">
        <% @comments.each do |comment| %>
          <% if comment.post_id == post.id %>
            <div class="row py-3">
              <div class="col-3 dropdown-item">
                <%= image_tag comment.user.avatar.url, class: "rounded-circle w-100" %>
              </div>
              <div class="col-9">
                <h5 class="text-primary"><%= comment.user.name %></h5>
                <%= comment.body %> <br />
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
</div>
